@import '~bruce/bruce';
@import 'config';
@include bruce-reset();
@include bruce-grid();
@include bruce-classes();
@include bruce-float();


body {
    margin: 0 5rem;
    line-height: 1.8;
    color: grey(20);
    font-weight: 100;
    font-family: 'Baskerville', sans-serif;
}



h1,h2,h3 {
    font-size: 1.75rem;
    margin: 1rem 0;
    text-align: center;
    padding: .5rem 0;
    border-bottom: 1px solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    margin: 3rem 0 2rem;
}

a {
    color: color('blue');
    margin-right: .25rem;

    &:visited {
        color: color('purple');
    }
}

.t-muted {
    color: grey(70);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-larger {
    font-size: 1.5em;
}

pre {
    font-family: 'Menlo', monospace;
}

@import 'components/NumberStat';
